<div class="ahc-deflect" ng-if="data.articles.length && !c.dismissed">
  <div class="ahc-deflect__inner">
    <div class="ahc-deflect__head">
      <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
      <span>Before you submit, these articles might answer your question:</span>
      <button class="ahc-deflect__close" type="button" ng-click="c.dismiss()"
              title="Dismiss" aria-label="Dismiss suggestions">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
    <div class="ahc-deflect__list">
      <a class="ahc-deflect__item"
         ng-repeat="a in data.articles track by a.sys_id"
         ng-href="?id=ahc_kb_article&sys_id={{::a.sys_id}}"
         target="_blank" rel="noopener">
        <i class="fa fa-file-text-o ahc-deflect__ico" aria-hidden="true"></i>
        <div class="ahc-deflect__item-body">
          <span class="ahc-deflect__item-title">{{::a.title}}</span>
          <span class="ahc-deflect__item-cat" ng-if="::a.cat">{{::a.cat}}</span>
        </div>
        <i class="fa fa-external-link ahc-deflect__ext" aria-hidden="true"></i>
      </a>
    </div>
    <div class="ahc-deflect__footer">
      <button class="ahc-deflect__dismiss" type="button" ng-click="c.dismiss()">
        These didn't help — continue with my request <i class="fa fa-arrow-right"></i>
      </button>
    </div>
  </div>
</div>
