<div class="ahc-kb-categories" ng-if="c.data.kbId">

  <div class="ahc-kb-cat-header" ng-if="c.data.kbName">
    <h2 ng-bind="c.data.kbName"></h2>
  </div>

  <div class="ahc-kb-cat-empty" ng-if="!c.data.categories.length">
    <p>No published articles found in this knowledge base.</p>
  </div>

  <div class="row ahc-kb-cat-grid" ng-if="c.data.categories.length">
    <div class="col-xs-12 col-sm-6 col-md-4"
         ng-repeat="cat in c.data.categories track by cat.sys_id">
      <a class="ahc-cat-tile"
         ng-href="?id=kb_category&kb_category={{::cat.sys_id}}&kb_id={{::c.data.kbId}}"
         aria-label="{{::cat.label}}, {{::cat.count}} articles">
        <div class="ahc-cat-tile-inner">
          <i class="fa fa-folder-open-o fa-2x" aria-hidden="true"></i>
          <h3 class="ahc-cat-label" ng-bind="::cat.label"></h3>
          <span class="ahc-cat-count">
            {{::cat.count}} {{::cat.count === 1 ? 'article' : 'articles'}}
          </span>
        </div>
      </a>
    </div>
  </div>

</div>
